<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="assett/css/bootstrap.css">
    <link rel="icon" type="image/png" href="https://www.lenoxcontradance.org/img/lenoxlogo.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="assetts/css/styles.css">

</head>
<body>
    <head>        
        <h2>LCD1 layout</h2>
        <div class="title">{{title}}</div>
    </head>
    <main>
        <div class="container">
            {{ content | safe }}
        </div>
    </main>
    <footer>
        <hr>
        <div class="footer">This is the footer</div>
    </footer>

<script src="assetts/js/darkmode-1.js"></script>
<script src="assetts/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>